*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  list-style-type: none;
  box-sizing:border-box;
}

html{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a,
a:visited {
  color: white;
  text-decoration: none;
}

img {
  width: 100%;
  object-fit: contain;
}

.formfield{
  display: flex;
  flex-direction: column;
  gap: .6rem;
}

.formfield input{
  box-shadow: 0 .2rem .4rem grey;
  height: 40px;
  padding: .4rem;
  font-size: 1.2rem;
}
