*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  list-style-type: none;
  box-sizing:border-box;
}

html{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a,
a:visited {
  color: white;
  text-decoration: none;
}

img {
  width: 100%;
  object-fit: contain;
}