.cart-container{
  margin: 1rem;
}

.checkout{
  width: 90%;
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  box-shadow: 0 .2rem .4rem black;

  gap: 1.5rem;
}

.checkout div:first-of-type{
  display: flex;
  justify-content: space-between;
}

.checkout div>p{
  font-weight: bold;
}

.checkout button{
  padding: 1rem;
  font-weight: bold;
  box-shadow: 0 0.1rem 0.1rem grey;
  float: right;
  cursor: pointer;
}

.checkout button:hover{
  background-color: #aaa;
}

@media screen and (min-width: 960px){
  .checkout{
    margin: none;
    flex: 1 1 30%;
    max-height: 150px;
  }

  .cart-items{
    flex: 1 1 70%;
  }

  .cart-container{
    display: flex;
  }
}