.cart-item-container{
  display: flex;
  margin: 1rem auto;
  width: 90%;
  padding: 1rem;
  box-shadow: 0 0.2rem 0.4rem black;
  
}

.cart-item-quantity{
  display: flex;
  justify-content: space-between;
}

.cart-item-quantity select{
  outline: solid 1px black;
  height: 20px;
  width: 50px;
}

.cart-item-container img{
  max-height: 100px;
  flex: 1 0 30%;
}

.info{
  flex: 1 1 30%;
  align-self: center;
}

.info > *{
  padding: .4rem 0;
}

.info a{
  color: black;
}

.info a:hover{
  color: blue;
}

.info button{
  padding: .4rem;
  width: 40px;
  cursor: pointer;
}

.cart-item-price{
  font-weight: bold;
}

@media screen and (min-width: 960px){
  .cart-item-container{
    max-width: 900px;

  }
}